{% extends 'base.html' %}

{% block header_links %}
    {% if is_logged_in %}
        <a href="{{ page_url }}?edit">Edit Page</a>
        {% if logout_url %}
            <a href="{{ logout_url }}">Logout</a>
        {% endif %}
    {% elif login_url %}
        <a href="{{ login_url }}">Login</a>
    {% endif %}
{% endblock %}

{% block location_links %}
    {% for path, name in path_locations %}
        <a href="{{ path }}">{{ name }}</a>
    {% endfor %}
{% endblock %}

{% block contents %}
    <section id="page">
        {% if page %}
            <h1>{{ page.title }}</h1>
            {% if sidebar or page.sidebar_toc %}
                <div id="sidebar">
                    {% if page.sidebar_toc %}{{ page_toc|safe }}{% endif %}
                    {{ page_sidebar|safe }}
                </div>
            {% endif %}

            <div id="content" {% if page_sidebar or page.sidebar_toc %} class="sidebar"{% endif %}>{{ page_content|safe }}</div>
        {% else %}
            <p>This page (<code>{{ page_location }}</code>) does not exist, yet.</p>
        {% endif %}
    </section>
{% endblock %}
