{% extends 'base.html' %}

{% block contents %}
    <form id="login" action="{{ url_for('post_login') }}" method="POST">
        <h1>Login to {{ wiki_name }}</h1>

        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>

        <button tyoe="submit">Login</button>
    </form>
{% endblock %}
